@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Helvetica";
  src: url("../src-assets/Helvetica.ttf");
}

@font-face {
  font-family: "Helvetica Lite";
  src: url("../src-assets/helvetica-light.ttf");
}

@font-face {
  font-family: "Helvetica Bold";
  src: url("../src-assets/Helvetica-Bold.ttf");
}

@font-face {
  font-family: "Helvetica BoldOblique";
  src: url("../src-assets/Helvetica-BoldOblique.ttf");
}

@font-face {
  font-family: "Helvetica Oblique";
  src: url("../src-assets/Helvetica-Oblique.ttf");
}

@font-face {
  font-family: "Helvetica Rounded";
  src: url("../src-assets/helvetica-rounded-bold.otf");
}
