@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Helvetica";
  src: url("../src-assets/Helvetica.ttf");
}

@font-face {
  font-family: "Helvetica Lite";
  src: url("../src-assets/helvetica-light.ttf");
}

@font-face {
  font-family: "Helvetica Bold";
  src: url("../src-assets/Helvetica-Bold.ttf");
}

@font-face {
  font-family: "Helvetica BoldOblique";
  src: url("../src-assets/Helvetica-BoldOblique.ttf");
}

@font-face {
  font-family: "Helvetica Oblique";
  src: url("../src-assets/Helvetica-Oblique.ttf");
}

@font-face {
  font-family: "Helvetica Round Bold";
  src: url("../src-assets/helvetica-rounded-bold.otf");
}

.fixed-mob-logo {
  position: fixed;
  display: none;
  top: 1rem;
  left: 1rem;
  z-index: 1000;
}

@media (max-width: 750px) {
  .fixed-mob-logo {
    display: block;
  }
}

.logo-container img {
  max-height: 5rem;
  width: 13rem;
}

header {
  background-color: #002559;
  color: #fff;
  will-change: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2000;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.15);
}

header nav {
  padding: 1rem 3rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template: 1fr/ 1fr 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header nav .nav-links-group .main-links-container {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .nav-links-group .main-links-container .menu-container {
  display: inline;
}

header nav .nav-links-group .main-links-container li img {
  min-width: 2rem;
}

header nav .customers-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

header nav .customers-group .icon {
  max-width: 1rem;
}

header nav .customers-group .btn {
  border-radius: 100px;
}

header nav .has-sublinks {
  position: relative;
  cursor: pointer;
}

header nav .has-sublinks ul {
  position: absolute;
  height: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  margin: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header nav .has-sublinks ul li {
  margin-top: 0.5rem;
}

header nav .has-sublinks:focus ul, header nav .has-sublinks:active ul, header nav .has-sublinks:hover ul {
  padding: 1rem;
  opacity: 1;
  pointer-events: all;
  height: revert;
}

@media (max-width: 750px) {
  header {
    position: fixed;
    padding-top: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  header nav {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    -ms-grid-rows: (-webkit-max-content)[3];
    -ms-grid-rows: (max-content)[3];
    -ms-grid-columns: 1fr;
        grid-template: repeat(3, -webkit-max-content)/1fr;
        grid-template: repeat(3, max-content)/1fr;
    text-align: center;
    place-content: center;
  }
  header nav ul {
    padding: 1rem 0;
    height: auto;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 1rem !important;
  }
  header nav ul .has-sublinks {
    text-align: center;
  }
  header nav ul .has-sublinks ul {
    padding: 0 !important;
    position: relative;
  }
  header .customers-group {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

header.hide {
  -webkit-transform: translate(0, -110%);
          transform: translate(0, -110%);
  background-color: transparent;
}

main {
  background: -webkit-gradient(linear, right top, left top, color-stop(-32.85%, rgba(33, 190, 213, 0.7)), color-stop(81.94%, rgba(255, 255, 255, 0)));
  background: linear-gradient(270deg, rgba(33, 190, 213, 0.7) -32.85%, rgba(255, 255, 255, 0) 81.94%);
}

#home {
  overflow-x: hidden;
}

#home .hero {
  padding: 2rem;
}

#home .hero .basic-grid-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#home .hero .basic-grid-container .grid-item-1 .img-container {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

#home .hero .basic-grid-container .img-container {
  height: 100%;
}

#home .hero .basic-grid-container .img-container img {
  -o-object-fit: contain;
     object-fit: contain;
}

#home .quotes .txt-container {
  max-width: 40ch;
}

#home .info-img-conatiner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 5%;
}

#home .video-area {
  padding: 2rem 1rem;
  background: #035daf;
}

#home .video-area .txt-container {
  max-width: 40ch;
  color: #fff;
}

#home .video-area .txt-container h2 {
  margin: 0;
  padding-bottom: 1rem;
  color: inherit;
}

#home .video-area .txt-container p {
  color: inherit;
}

#home .procedure {
  padding-inline: 5%;
}

#home .dark,
#home .quotes,
#home .warehouse {
  padding-inline: 5%;
}

#home .dark .basic-grid-container,
#home .quotes .basic-grid-container,
#home .warehouse .basic-grid-container {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 2rem;
}

#home .dark .content-container,
#home .quotes .content-container,
#home .warehouse .content-container {
  max-width: 50ch;
}

#home .dark .content-container .sub-text,
#home .quotes .content-container .sub-text,
#home .warehouse .content-container .sub-text {
  color: #21bed5;
}

#home .dark .content-container ul,
#home .quotes .content-container ul,
#home .warehouse .content-container ul {
  padding-left: 1rem;
}

#home .dark .content-container ul li,
#home .quotes .content-container ul li,
#home .warehouse .content-container ul li {
  list-style: disc;
}

#home .dark .content-container ul li::marker,
#home .quotes .content-container ul li::marker,
#home .warehouse .content-container ul li::marker {
  color: gold;
}

#home .stats {
  padding: 2rem;
  background-color: #002862;
  color: #fff;
}

#home .stats .heading {
  color: inherit;
}

#home .animated-logos-tape {
  background-color: #fff;
  padding: 2rem 0;
}

footer {
  background-color: #002559;
  padding: 1rem 0;
  color: #fff;
  font-family: Helvetica, sans-serif;
}

footer .links-container {
  padding-block: clamp(1rem, 5vw, 2rem);
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template: 1fr/repeat(auto-fit, minmax(15rem, 1fr));
  padding-inline: 10%;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

footer .links-container .address-area address {
  max-width: 45ch;
}

footer .links-container .address-area .icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.5rem;
}

footer .links-container .address-area .icon-link .icon img {
  width: 1.5rem;
}

footer .mail-container {
  padding: 0.5rem 0;
}

footer .gradient-line {
  border-radius: 0;
  height: 3px;
}

footer .footer-links-column ul {
  padding: 0;
}

footer .footer-links-column ul h3 {
  padding-bottom: 2rem;
  margin: 0;
}

footer .footer-links-column ul li {
  font-family: "Montserrat";
  font-weight: lighter;
  padding-bottom: 1rem;
}

footer .social-icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social-icons-container .social-link-item img {
  max-height: 1.5rem;
}
